---
title: API Reference

language_tabs: # must be one of https://git.io/vQNgJ
  - json

toc_footers:
  - <a href='https://github.com/slatedocs/slate'>Documentation Powered by Slate</a>

includes:

search: true

code_clipboard: true
---

# Introducci贸n

## La API de Cardda Crawler

Bienvenido a la documentaci贸n de la API de Cardda Crawler! 

Puedes usar esta API para acceder a endpoints que permiten
automatizar tareas de emisi贸n de facturas en el SII. 

# Facturas de venta electr贸nica

En esta secci贸n ver谩s los endpoints disponibles para generar facturas electr贸nicas de manera
autom谩tica. 


## Generar un preview

Generar una visualizaci贸n de una factura de venta electr贸nica sin emitirla.

| M茅todo | Endpoint               | 
|--------|------------------------|
| `POST` | `/sii_preview_invoice` |

Si la operaci贸n es exitosa, retorna una captura
con los datos rellenados en el formulario del SII.

### Par谩metros

<%= partial "includes/params_invoice" %>

## Emitir una factura

Emitir una factura de venta electr贸nica en el SII.

| M茅todo | Endpoint              |
|--------|-----------------------|
| `POST` | `/sii_create_invoice` |

Si la operaci贸n es exitosa, retorna un JSON
con la `url` del pdf de la factura.

### Par谩metros

<%= partial "includes/params_invoice" %>

## Definici贸n de objectos

### Charge

Objeto correspondiente a los datos de un producto de 
una factura electr贸nica del SII.

> Ejemplo

```json
{
  "name": "Servicio digital",
  "description": "Prestaci贸n de servicio de pago y gesti贸n en Amazon AWS",
  "unit": "USDCLP",
  "price": "733.73",
  "amount": "121.12"
}
```

| Atributo     | Tipo       | Descripci贸n                        |
|---------------|------------|------------------------------------|
| `name`        | **string** | Nombre del producto.               |
| `description` | **string** | Descripci贸n del producto.          |
| `unit`        | **string** | Tipo de unidad del producto.       |
| `price`       | **double** | Precio de una unidad del producto. |
| `amount`      | **double** | Cantidad de unidades del producto. |

# Facturas de compra electr贸nica

Cardda Crawler no solo puede emitir facturas de venta,
sino tambi茅n facturas de compra a servicios extranjeros, los endpoints descritos ac谩
explican como puedes hacerlo.

## Generar un preview

Generar una visualizaci贸n de una factura de compra electr贸nica sin emitirla.

| M茅todo | Endpoint                 |
|--------|--------------------------|
|`POST`  |`/sii_preview_buy_invoice`|

Si la operaci贸n es exitosa, retorna una captura
con los datos rellenados en el formulario del SII.

### Par谩metros

<%= partial "includes/params_buy_invoice" %>

## Emitir una factura

Emitir una factura de compra electr贸nica en el SII.

| M茅todo | Endpoint                 |
|--------|--------------------------|
|`POST`  |`/sii_create_buy_invoice`|

Si la operaci贸n es exitosa, retorna un JSON
con la `url` del pdf de la factura.

### Par谩metros

<%= partial "includes/params_buy_invoice" %>

## Definici贸n de objetos

### Business

Objeto que describe la informaci贸n de un servicio
dado por terceros.

> Ejemplo

```json
{
  "rut": "59292930",
  "dv": "9",
  "address": "410 Terry Avenue North",
  "comuna": "Seattle",
  "city": "Seattle",
  "business_name": "AMAZON WEB SERVICES, INC."
}
```

| Atributo        | Tipo       | Descripci贸n                                                     |
|-----------------|------------|-----------------------------------------------------------------|
| `rut`           | **string** | RUT de la empresa. No debe llevar puntos ni d铆gito verificador. |
| `dv`            | **string** | D铆gito verificador del RUT de la empresa.                       |
| `address`       | **string** | Direcci贸n legal de la empresa.                                  |
| `comuna`        | **string** | Comuna en la que est谩 ubicada la empresa.                       |
| `city`          | **string** | Ciudad en la que est谩 ubicada la empresa.                       |
| `business_name` | **string** | Raz贸n social de la empresa.                                     |

#### Nota

El nombre `comuna` no tiene un equivalente en ingl茅s, por lo que decidimos no traducirlo y utilizar el mismo valor que en `city` para servicios extranjeros.

### Invoice

Objeto que describe datos de una factura extranjera.

> Ejemplo

```json
{
  "day": "01",
  "month": "01",
  "year": "2021",
  "chargeClp": "90548"
}
```

| Atributo    | Tipo       | Descripci贸n                                                                                                                                                   |
|-------------|------------|---------------------------------------------------------------------------------------------------------------------------------------------------------------|
| `day`       | **string** | D铆a en que se emiti贸 la factura. Debe tener dos d铆gitos, si es menor a 10 se debe rellenar con 0 al principio.                                                |
| `month`     | **string** | Mes en que se emiti贸 la factura. Debe tener dos d铆gitos, si es menor a 10 se debe rellenar con 0 al principio.                                                |
| `year`      | **string** | A帽o en que se emiti贸 la factura.                                                                                                                              |
| `chargeClp` | **string** | Monto de la factura en pesos chilenos. Si la factura es en d贸lares, este monto debe corresponder al valor del d贸lar en el d铆a posterior a la emisi贸n de esta. |
